{% extends "base.html" %}
{% block title %}Anmelden - CMDB{% endblock %}
{% block content %}
  <h1>Anmelden</h1>
  <form method="post" novalidate>
    {{ form.hidden_tag() }}
    {% for field in [form.username, form.password] %}
      <p>
        {{ field.label }}<br>
        {{ field(size=40) }}
        {% for error in field.errors %}
          <span class="field-error">{{ error }}</span><br>
        {% endfor %}
      </p>
    {% endfor %}
    {{ form.submit() }}
  </form>
  <p><a href="{{ url_for('auth.request_password_reset') }}">Kennwort vergessen?</a></p>
{% endblock %}
