{% extends "base.html" %}
{% block title %}Neues Kennwort - CMDB{% endblock %}
{% block content %}
  <h1>Neues Kennwort setzen</h1>
  <form method="post" novalidate>
    {{ form.hidden_tag() }}
    {% for field in [form.password, form.confirm_password] %}
      <p>
        {{ field.label }}<br>
        {{ field(size=40) }}
        {% for error in field.errors %}
          <span class="field-error">{{ error }}</span><br>
        {% endfor %}
      </p>
    {% endfor %}
    {{ form.submit() }}
  </form>
{% endblock %}
